/* style.css */
body {
    padding-top: 0px; /* Padding for fixed navbar */
}
footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.user-profile-nav {
    /* Styling for the user profile section in the navigation bar */
    float: right;
}

.user-photo {
    /* Styling for the user photo */
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
