{% extends 'base.html' %}

{% block content %}
<div class="about-cover" style="background-image: url('{{ url_for('static', filename='/images/FINANCIAL2.jpg1.jpg') }}');">
    <div class="cover-content">
        <h1>Welcome to TreasureTrove Loans and Savings Services .</h1>
    </div>
</div>

<div class="container about-content">
    <h2>About Us</h2>
    <p>Where financial dreams take flight! We're not just a company; we're your financial ally on the road to prosperity. With TreasureTrove, your goals are our mission, and your success is our passion. Join us for a journey of smart savings and seamless loans – because your dreams deserve a partner as bold as you are!</p>
</div>
{% endblock %}
