{% extends 'base.html' %}
{% block content %}
<h2>Registered Users</h2>

<button onclick="window.history.back();">Go Back</button>

<table style="border-collapse: collapse; width: 100%;">
    <tr>
        <th style="border: 1px solid black;">Name</th>
        <th style="border: 1px solid black;">Email</th>
        <th style="border: 1px solid black;">Is Admin?</th>
        <th style="border: 1px solid black;">Privileges</th>
        <!-- Other User fields -->
        <th style="border: 1px solid black;">Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td style="border: 1px solid black;">{{ user.name }}</td>
        <td style="border: 1px solid black;">{{ user.email }}</td>
        <td style="border: 1px solid black;">{{ 'Yes' if user.is_admin else 'No' }}</td>
        <td style="border: 1px solid black;">{{ user.privileges }}</td>
        <!-- Other User fields -->
        <td style="border: 1px solid black;">
            <a href="{{ url_for('main.delete_user', user_id=user.id) }}">Remove</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
