<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Bootstrap Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="height: 40px;">
                    Your App
                </a>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                        </li>
                        {% if 'user_email' not in session %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.signup') }}">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    <!-- Placeholder for user profile -->
                    <div class="user-profile-nav">
                        {% if 'user_name' in session %}
                            <!-- User Profile Photo -->
                            <img src="/static/images/ese2.jpg" alt="{{ session['user_name'] }}" class="user-photo">

                            <!-- User Name -->
                            <span>{{ session['user_name'] }}</span>
                        {% endif %}
                    </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Add footer content here -->
        <p>© 2023 Your Application Name</p>
    </footer>
</body>
</html>
