<!-- dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            {% if 'user_name' in session %}
                <h1 class="mb-4 text-center">Welcome, {{ session['user_name'] }}!</h1>
            {% else %}
                <h1 class="mb-4 text-center">User Dashboard</h1>
            {% endif %}

            <!-- User Profile Section -->
            <div class="user-profile mb-4">
                <h3>User Details</h3>
                <p><strong>Name:</strong> {{ session['user_name'] }}</p>
                <p><strong>Email:</strong> {{ session['user_email'] }}</p>
                <!-- Add other user details here -->
                <h1 class="mb-4 text-center">Welcome, {{ session['user_email'] }}</h1>
                <!-- Display the user's account number if available -->
                {% if session['user_account_number'] %}
                    <p>Your account number: {{ session['user_account_number'] }}</p>
                {% endif %}
           
            </div>

            <!-- Link to Update Profile Form -->
            <a href="{{ url_for('main.update_profile') }}" class="btn btn-primary w-100 mb-3">Update Profile</a>

            <!-- Other Dashboard Links -->
            <a href="{{ url_for('main.apply_loan') }}" class="btn btn-secondary w-100 mb-3">Apply for a Loan</a>
            <a href="{{ url_for('main.fund_wallet') }}" class="btn btn-info w-100 mb-3">Fund Your Wallet</a>
            <a href="{{ url_for('main.upload_document') }}" class="btn btn-success w-100">Upload Documents</a>
        </div>
    </div>
</div>
{% endblock %}
