<!-- index.html -->
{% extends 'base.html' %}

{% block title %}TreasureTrove{% endblock %}

{% block content %}
<div class="cover-photo" style="background-image: url('/static/images/FINANCIAL.jpg1.jpg');">
    <div class="cover-content">
        <h1>Welcome to TreasureTrove Loans and Savings Services</h1>
        <p>At TreasureTrove Loans & Savings Services, we understand that your journey towards financial well-being is unique. Whether you're looking to secure a loan for a new venture, optimise your savings strategy, or navigate the intricacies of personal finance, we're here to guide you every step of the way.</p>
    </div>
</div>

<div class="services-section">
    <div class="service-item">
        <img src="/static/images/calculate.jpeg" alt="Calculator">
        <a href="{{ url_for('main.calculator') }}">Loans/Savings Calculator</a>
    </div>
    <div class="service-item">
        <img src="/static/images/FINANCIAL.2.jpg5.jpg" alt="Loan">
        <a href="{{ url_for('main.loans') }}">Get a Loan</a>
    </div>
    <div class="service-item">
        <img src="/static/images/saves.jpeg" alt="Savings">
        <a href="{{ url_for('main.savings') }}">Build up Savings</a>
    </div>
    <div class="service-item">
        <img src="/static/images/bills.webp" alt="Bills">
        <a href="{{ url_for('main.bills_payment') }}">Bills Payment</a>
    </div>
    <div class="service-item">
        <img src="/static/images/deposit.jpeg" alt="Deposit">
        <a href="{{ url_for('main.fixed_deposit') }}">Fixed Deposit</a>
    </div>
</div>

{% endblock %}

