{% extends 'base.html' %}

{% block title %}Investment{% endblock %}

{% block content %}
<div class="container_inv mt-4">
    <!-- Investment Options Form -->
    <h2>Select an Investment Option</h2>
    <form>
        <div class="form-check">
            <input type="radio" class="form-check-input" name="investmentOption" id="savingsOption" value="savings">
            <label class="form-check-label" for="savingsOption">Savings</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" name="investmentOption" id="fixedDepositOption" value="fixed_deposit">
            <label class="form-check-label" for="fixedDepositOption">Fixed Deposit</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Select</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const selectedOption = document.querySelector('input[name="investmentOption"]:checked').value;
            if (selectedOption === 'savings') {
                window.location.href = "{{ url_for('main.savings_plan') }}";
            } else if (selectedOption === 'fixed_deposit') {
                window.location.href = "{{ url_for('main.fixed_deposit') }}";
            }
        });
    });
</script>
<div class="services-section">
    <div class="service-item">
        <img src="/static/images/calculate.jpeg" alt="Calculator">
        <a href="{{ url_for('main.calculator') }}">Loans/Savings Calculator</a>
    </div>
    <div class="service-item">
        <img src="/static/images/FINANCIAL.2.jpg5.jpg" alt="Loan">
        <a href="{{ url_for('main.loans') }}">Get a Loan</a>
    </div>
    <div class="service-item">
        <img src="/static/images/saves.jpeg" alt="Savings">
        <a href="{{ url_for('main.savings') }}">Build up Savings</a>
    </div>
    <div class="service-item">
        <img src="/static/images/bills.webp" alt="Bills">
        <a href="{{ url_for('main.bills_payment') }}">Bills Payment</a>
    </div>
    <div class="service-item">
        <img src="/static/images/deposit.jpeg" alt="Deposit">
        <a href="{{ url_for('main.fixed_deposit') }}">Fixed Deposit</a>
    </div>
</div>
{% endblock %}
