{% extends 'base.html' %}
{% block content %}
<div class="container_savings_plan mt-4">
    <h1>Savings Plans</h1>
    <p>Welcome to our Savings Plans page, where securing your financial future is made simple. Our diverse range of savings options caters to various financial goals, whether you're building an emergency fund, saving for a major purchase, or planning for retirement.</p>
    <p>Explore our <strong>Regular Savings Accounts</strong> for steady growth, or maximize your earnings with our <strong>High-Yield Savings Plans</strong>. For goal-specific savings, our <strong>Targeted Savings Accounts</strong> offer flexibility and competitive interest rates.</p>
    <p>Not sure which plan suits you best? Use our interactive <strong>Savings Growth Calculator</strong> to estimate your potential earnings. Need more personalized guidance? Our financial advisors are here to help you make the right choice.</p>
    <p><a href="{{ url_for('main.savings_application') }}" class="btn btn-primary1">Get Started with a Savings Plan</a></p> or <a href="{{ url_for('main.contact') }}" class="btn btn-secondary2">Contact an Advisor</a> today and take the first step towards a secure financial future.</p>
</div>
{% endblock %}
