* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h1 {
  color: white;
  cursor: pointer;
}

.login-div {
  background-color: #ffffff;
}

.form {
  padding: 30px 40px;
}

.Form-container {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.Form-container label {
  display: inline-block;
  margin-bottom: 5px;
}

.Form-container input {
  border: 2px solid wheat;
  border-radius: 5px;
  display: block;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.form button {
  background-color: red;
  color: white;
  border: 2px solid red;
  display: block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
